@{
    ViewBag.Title = "Checkout";
}

<div class="album py-5 bg-light">
    <div class="container">
        <h2>Shopping Cart</h2>
        <br />

        @if (ViewBag.Cart.Count == 0)
        {
            <br />
            <div id="EmptyDataMsg" class="alert alert-info">
                <strong>Welcome!</strong> Your shopping cart is currently empty. Let's start shopping
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered">
                @foreach (var item in ViewBag.Cart)
                {
                    <tr>
                        <td><span class="p-name">@item.ProductName</span> </td>
                        <td><span class="p-name">@String.Format("{0:c}", item.UnitPrice)</span> </td>
                        <td>
                            <a class="quantity btn btn-outline-primary btn-sm" onclick="Change(this, 1, @item.ProductId)">+</a>
                            <span class="p-name">@item.Quantity</span>
                            <a class="quantity btn btn-outline-warning btn-sm" onclick="Change(this, 0,  @item.ProductId)">-</a>
                            <a class="remove btn btn-outline-info btn-sm" onclick="Change(this, -1,  @item.ProductId)">Remove</a>
                        </td>
                    </tr>
                }
                <tr><td>Total: </td><td id="totalPrice" colspan="2">@String.Format("{0:c}", ViewBag.CartTotalPrice)</td></tr>
            </table>
            <div class="button float-right">
                @Html.ActionLink("Clear Cart", "Clear", "Checkout", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Continue", "Purchase", "Checkout", null, new { @class = "btn btn-success" })
            </div>
        }
    </div>
</div>


<script>
    function UpdateTotalPrice() {
        $.ajax({
            type: 'GET',
            url: "Checkout/UpdateTotal",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                if (msg.d == "$0.00") {
                    location.reload();
                    return;
                }

                $('#totalPrice').text(msg.d);
            }
        })
    }

    function Change(el, type, pid) {
        var data = {
            'type': type,
            'pId': pid
        };
        $.ajax({
            type: 'POST',
            url: "Checkout/QuantityChange",
            data: "{ 'type': " + type + ", 'pId': " + pid + "}",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                if (msg.d == 0) {
                    el.parentNode.parentNode.remove();
                } else {
                    $(el).siblings('span')[0].innerHTML = msg.d
                }
                UpdateTotalPrice()
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }
        });
    }
</script>